.rainsum_6_inf {
    fill: rgb(0, 121, 48)
}

.rainsum_5_6 {
    fill: rgb(93, 162, 76)
}

.rainsum_4_5 {
    fill: rgb(158, 189, 97)
}

.rainsum_3_4 {
    fill: rgb(170, 222, 246)
}

.rainsum_2_3 {
    fill: rgb(254, 246, 157)
}

.rainsum_1_2 {
    fill: rgb(235, 194, 55)
}

.rainsum_inf_1 {
    fill: rgb(199, 134, 69)
}
