.VolumetricSoilWaterLayer28_52      { stroke: none; fill: rgba(0, 0, 0, 1.00); }
.VolumetricSoilWaterLayer28_43_52   { stroke: none; fill: rgba(0, 0, 139, 1.00); }
.VolumetricSoilWaterLayer28_35_43   { stroke: none; fill: rgba(173, 216, 230, 1.00); }
.VolumetricSoilWaterLayer28_28_35   { stroke: none; fill: rgba(0, 128, 0, 1.00); }
.VolumetricSoilWaterLayer28_21_28   { stroke: none; fill: rgba(165, 42, 42, 1.00); }
.VolumetricSoilWaterLayer28_16_21   { stroke: none; fill: rgba(255, 165, 0, 1.00); }
.VolumetricSoilWaterLayer28_12_16   { stroke: none; fill: rgba(255, 0, 0, 1.00); }
.VolumetricSoilWaterLayer28_12      { stroke: none; fill: rgba(255, 192, 203, 1.00); }
.VolumetricSoilWaterLayer28_missing { stroke: none; fill: rgba(102, 102, 102, 0.37); }
