.VolumetricSoilWaterAnomalyLayer28_0175          { stroke: none; fill: rgba(133, 20, 20, 1.00); }
.VolumetricSoilWaterAnomalyLayer28_0125_0175     { stroke: none; fill: rgba(233, 57, 5, 1.00); }
.VolumetricSoilWaterAnomalyLayer28_0075_0125     { stroke: none; fill: rgba(250, 160, 56, 1.00); }
.VolumetricSoilWaterAnomalyLayer28_0025_0075     { stroke: none; fill: rgba(255, 255, 188, 1.00); }
.VolumetricSoilWaterAnomalyLayer28_m0025_0025    { stroke: none; fill: rgba(250, 250, 250, 1.00); }
.VolumetricSoilWaterAnomalyLayer28_m0075_m0025   { stroke: none; fill: rgba(214, 246, 238, 1.00); }
.VolumetricSoilWaterAnomalyLayer28_m0125_m0075   { stroke: none; fill: rgba(98, 207, 182, 1.00); }
.VolumetricSoilWaterAnomalyLayer28_m0175_m0125   { stroke: none; fill: rgba(0, 154, 207, 1.00); }
.VolumetricSoilWaterAnomalyLayer28_m0175         { stroke: none; fill: rgba(15, 64, 89, 1.00); }
.VolumetricSoilWaterAnomalyLayer28_missing       { stroke: none; fill: rgba(102, 102, 102, 0.37); }
