.Precipitation24h_missing	{ stroke: none; fill: rgba(102,102,102,0.37); }
.Precipitation24h_01_02	{ stroke: none; fill: rgba(60,60,150,1.00); }
.Precipitation24h_02_03	{ stroke: none; fill: rgba(80,80,166,1.00); }
.Precipitation24h_03_04	{ stroke: none; fill: rgba(100,100,183,1.00); }
.Precipitation24h_04_05	{ stroke: none; fill: rgba(120,120,200,1.00); }
.Precipitation24h_05_06	{ stroke: none; fill: rgba(50,120,120,1.00); }
.Precipitation24h_06_07	{ stroke: none; fill: rgba(62,140,140,1.00); }
.Precipitation24h_07_08	{ stroke: none; fill: rgba(75,160,160,1.00); }
.Precipitation24h_08_09	{ stroke: none; fill: rgba(87,180,180,1.00); }
.Precipitation24h_09_10	{ stroke: none; fill: rgba(100,200,200,1.00); }
.Precipitation24h_10_15	{ stroke: none; fill: rgba(60,150,60,1.00); }
.Precipitation24h_15_20	{ stroke: none; fill: rgba(68,157,68,1.00); }
.Precipitation24h_20_25	{ stroke: none; fill: rgba(77,164,77,1.00); }
.Precipitation24h_25_30	{ stroke: none; fill: rgba(85,171,85,1.00); }
.Precipitation24h_30_35	{ stroke: none; fill: rgba(94,178,94,1.00); }
.Precipitation24h_35_40	{ stroke: none; fill: rgba(102,185,102,1.00); }
.Precipitation24h_40_45	{ stroke: none; fill: rgba(111,192,111,1.00); }
.Precipitation24h_45_50	{ stroke: none; fill: rgba(120,200,120,1.00); }
.Precipitation24h_50_55	{ stroke: none; fill: rgba(150,150,100,1.00); }
.Precipitation24h_55_60	{ stroke: none; fill: rgba(161,161,105,1.00); }
.Precipitation24h_60_65	{ stroke: none; fill: rgba(172,172,111,1.00); }
.Precipitation24h_65_70	{ stroke: none; fill: rgba(183,183,116,1.00); }
.Precipitation24h_70_75	{ stroke: none; fill: rgba(194,194,122,1.00); }
.Precipitation24h_75_80	{ stroke: none; fill: rgba(205,205,127,1.00); }
.Precipitation24h_80_85	{ stroke: none; fill: rgba(216,216,133,1.00); }
.Precipitation24h_85_90	{ stroke: none; fill: rgba(227,227,138,1.00); }
.Precipitation24h_90_95	{ stroke: none; fill: rgba(238,238,144,1.00); }
.Precipitation24h_95_100	{ stroke: none; fill: rgba(250,250,150,1.00); }
.Precipitation24h_100_105	{ stroke: none; fill: rgba(150,100,50,1.00); }
.Precipitation24h_105_110	{ stroke: none; fill: rgba(161,111,55,1.00); }
.Precipitation24h_110_115	{ stroke: none; fill: rgba(172,122,61,1.00); }
.Precipitation24h_115_120	{ stroke: none; fill: rgba(183,133,66,1.00); }
.Precipitation24h_120_125	{ stroke: none; fill: rgba(194,144,72,1.00); }
.Precipitation24h_125_130	{ stroke: none; fill: rgba(205,155,77,1.00); }
.Precipitation24h_130_135	{ stroke: none; fill: rgba(216,166,83,1.00); }
.Precipitation24h_135_140	{ stroke: none; fill: rgba(227,177,88,1.00); }
.Precipitation24h_140_145	{ stroke: none; fill: rgba(238,188,94,1.00); }
.Precipitation24h_145_150	{ stroke: none; fill: rgba(250,200,100,1.00); }
.Precipitation24h_15_16	{ stroke: none; fill: rgba(150,100,100,1.00); }
.Precipitation24h_16_17	{ stroke: none; fill: rgba(161,105,105,1.00); }
.Precipitation24h_17_18	{ stroke: none; fill: rgba(172,111,111,1.00); }
.Precipitation24h_18_19	{ stroke: none; fill: rgba(183,116,116,1.00); }
.Precipitation24h_19_20	{ stroke: none; fill: rgba(194,122,122,1.00); }
.Precipitation24h_20_21	{ stroke: none; fill: rgba(205,127,127,1.00); }
.Precipitation24h_21_22	{ stroke: none; fill: rgba(216,133,133,1.00); }
.Precipitation24h_22_23	{ stroke: none; fill: rgba(227,138,138,1.00); }
.Precipitation24h_23_24	{ stroke: none; fill: rgba(238,144,144,1.00); }
.Precipitation24h_24_25	{ stroke: none; fill: rgba(250,150,150,1.00); }
.Precipitation24h_25_275	{ stroke: none; fill: rgba(150,100,150,1.00); }
.Precipitation24h_275_30	{ stroke: none; fill: rgba(161,105,161,1.00); }
.Precipitation24h_30_325	{ stroke: none; fill: rgba(172,111,172,1.00); }
.Precipitation24h_325_35	{ stroke: none; fill: rgba(183,116,183,1.00); }
.Precipitation24h_35_375	{ stroke: none; fill: rgba(194,122,194,1.00); }
.Precipitation24h_375_40	{ stroke: none; fill: rgba(205,127,205,1.00); }
.Precipitation24h_40_425	{ stroke: none; fill: rgba(216,133,216,1.00); }
.Precipitation24h_425_45	{ stroke: none; fill: rgba(227,138,227,1.00); }
.Precipitation24h_45_475	{ stroke: none; fill: rgba(238,144,238,1.00); }
.Precipitation24h_475_50	{ stroke: none; fill: rgba(250,150,250,1.00); }
.Precipitation24h_50_55	{ stroke: none; fill: rgba(150,100,200,1.00); }
.Precipitation24h_55_60	{ stroke: none; fill: rgba(155,105,205,1.00); }
.Precipitation24h_60_65	{ stroke: none; fill: rgba(161,111,211,1.00); }
.Precipitation24h_65_70	{ stroke: none; fill: rgba(166,116,216,1.00); }
.Precipitation24h_70_75	{ stroke: none; fill: rgba(172,122,222,1.00); }
.Precipitation24h_75_80	{ stroke: none; fill: rgba(177,127,227,1.00); }
.Precipitation24h_80_85	{ stroke: none; fill: rgba(183,133,233,1.00); }
.Precipitation24h_85_90	{ stroke: none; fill: rgba(188,138,238,1.00); }
.Precipitation24h_90_95	{ stroke: none; fill: rgba(194,144,244,1.00); }
.Precipitation24h_95_100	{ stroke: none; fill: rgba(200,150,250,1.00); }
.Precipitation24h_100_110	{ stroke: none; fill: rgba(200,200,200,1.00); }
.Precipitation24h_110_120	{ stroke: none; fill: rgba(206,206,206,1.00); }
.Precipitation24h_120_130	{ stroke: none; fill: rgba(212,212,212,1.00); }
.Precipitation24h_130_140	{ stroke: none; fill: rgba(218,218,218,1.00); }
.Precipitation24h_140_150	{ stroke: none; fill: rgba(224,224,224,1.00); }
.Precipitation24h_150_160	{ stroke: none; fill: rgba(230,230,230,1.00); }
.Precipitation24h_160_170	{ stroke: none; fill: rgba(236,236,236,1.00); }
.Precipitation24h_170_180	{ stroke: none; fill: rgba(242,242,242,1.00); }
.Precipitation24h_180_190	{ stroke: none; fill: rgba(248,248,248,1.00); }
.Precipitation24h_190	{ stroke: none; fill: rgba(254,254,254,1.00); }