smartmet-server/config/engines/grid-engine/mapping_fmi_auto.csv
smartmet-server/config/engines/grid-engine/mapping_newbase_auto.csv
fminames-db/data
bin/mars
dev/
.fmi-apikey
.vscode/
.pytest_cache
__pycache__
*.egg-info
*~
bin/tmp.py
