.Soilwater_0_2	{ stroke: none; fill: rgba(5,179,138,1.00); }
.Soilwater_2_4	{ stroke: none; fill: rgba(2,212,149,1.00); }
.Soilwater_4_6	{ stroke: none; fill: rgba(138,237,187,1.00); }
.Soilwater_6_8	{ stroke: none; fill: rgba(204,255,208,1.00); }
.Soilwater_8_10	{ stroke: none; fill: rgba(235,252,207,1.00); }
