@import url('https://fonts.googleapis.com/css?family=Roboto');

.Number	{ fill: black; font-family: Roboto, Arial; font-size: 40px; text-anchor: middle;}
.PlusTemperature {fill: red; }
.MinusTemperature {fill: blue; }