.Iceconcentration_001_01 {stroke:none; fill: rgb(232,250,249) }
.Iceconcentration_01_02 {stroke:none; fill: rgb(200,216,228) }
.Iceconcentration_02_03 {stroke:none; fill: rgb(148,162,194) }
.Iceconcentration_03_04 {stroke:none; fill: rgb(148,162,194) }
.Iceconcentration_04_05 {stroke:none; fill: rgb(80,91,150) }
.Iceconcentration_05_06 {stroke:none; fill: rgb(49,58,129) }
.Iceconcentration_06_07 {stroke:none; fill: rgb(54,3,94) }
.Iceconcentration_07_08 {stroke:none; fill: rgb(84,1,117) }
.Iceconcentration_08_09 {stroke:none; fill: rgb(111,1,138) }
.Iceconcentration_09_inf {stroke:none; fill: rgb(143,3,172) }
.clippath {stroke:none; fill: none }
