.echotop_0_1      { stroke:none; fill: #6cebf3 }
.echotop_1_2      { stroke:none; fill: #2a97b8 }
.echotop_2_3      { stroke:none; fill: #318324 }
.echotop_3_4      { stroke:none; fill: #acda31 }
.echotop_4_5      { stroke:none; fill: #fdfa2c }
.echotop_5_6      { stroke:none; fill: #f9b217 }
.echotop_6_7      { stroke:none; fill: #a30f0f }
.echotop_7_8      { stroke:none; fill: #f562ce }
.echotop_8_9      { stroke:none; fill: #742aa4 }
.echotop_9_10     { stroke:none; fill: #cc95fb }
.echotop_10_inf     { stroke:none; fill: #e7e0fa }
