.Friction_60_70	{ stroke: none; fill: rgb(10,155,255) }
.Friction_50_60	{ stroke: none; fill: rgb(5,205,170) }
.Friction_40_50	{ stroke: none; fill: rgb(140,230,20) }
.Friction_30_40	{ stroke: none; fill: rgb(240,240,20)  }
.Friction_15_30	{ stroke: none; fill: rgb(255,205,20) }
.Friction_0_15 	{ stroke: none; fill: rgb(255,80,60) }
