.hhi_14_15    { stroke:none; fill: #404040 }
.hhi_13_14    { stroke:none; fill: #808080 }
.hhi_12_13    { stroke:none; fill: #bfbfbf }
.hhi_11_12    { stroke:none; fill: #fffeff }
.hhi_10_11    { stroke:none; fill: #f878ff }
.hhi_9_10    { stroke:none; fill: #fc7281 }
.hhi_8_9    { stroke:none; fill: #ff0101 }
.hhi_7_8 { stroke:none; fill: #be5746 }
.hhi_6_7  { stroke:none; fill: #ffa705 }
.hhi_5_6  { stroke:none; fill: #fcff00 }
.hhi_4_5 { stroke:none; fill: #07bf07 }
.hhi_3_4   { stroke:none; fill: #00dd6e }
.hhi_2_3   { stroke:none; fill: #00fffc }
.hhi_1_2   { stroke:none; fill: #08b2fd }