.Roadwarning_alijaahtynyt { stroke:none; fill: #a5f5f6 }
.Roadwarning_vesisade_jaiselle { stroke:none; fill: #56e7ea }
.Roadwarning_rantaa_jaiselle { stroke:none; fill: #4faddd }
.Roadwarning_nopea_muutos { stroke:none; fill: #247f82 }
.Roadwarning_runsas_lumisade { stroke:none; fill: #1bb395 }
.Roadwarning_lumipyry { stroke:none; fill: #5d5dee }
.Roadwarning_tuulivaroitus { stroke:none; fill: #b14396 }
.Roadwarning_pakkasliukkaus { stroke:none; fill: #8a0824 }
.Roadwarning_luminen_tienpinta { stroke:none; fill: #eb390f }
.Roadwarning_jaatyy { stroke:none; fill: #ff8011 }
.Roadwarning_kuuraantuu { stroke:none; fill: #fbcf55 }
.Roadwarning_ei_varoitusta { stroke:none; fill: none }
