.rr_007_007    { stroke:none; fill: #6cebf3 }
.rr_007_01    { stroke:none; fill: #58c797 }
.rr_01_03 { stroke:none; fill: #409857 }
.rr_03_09  { stroke:none; fill: #f1f35a }
.rr_09_22  { stroke:none; fill: #dfc40a }
.rr_22_4 { stroke:none; fill: #eb951a }
.rr_4_10   { stroke:none; fill: #e85616 }
.rr_10_25   { stroke:none; fill: #ce0202 }
.rr_25_inf   { stroke:none; fill: #830a46 }