.rr_accumulation_10_20 { stroke: none; fill: #31399f; }
.rr_accumulation_20_30 { stroke: none; fill: #5c67b6; }
.rr_accumulation_30_40 { stroke: none; fill: #8391c9; }
.rr_accumulation_40_50 { stroke: none; fill: #b5c6e4; }
.rr_accumulation_50_60 { stroke: none; fill: #25044; }
.rr_accumulation_60_70 { stroke: none; fill: #2d7257; }
.rr_accumulation_70_80 { stroke: none; fill: #589570; }
.rr_accumulation_80_90 { stroke: none; fill: #83b789; }
.rr_accumulation_90_100 { stroke: none; fill: #a1d394; }
.rr_accumulation_100_150 { stroke: none; fill: #d4eaf6; }
.rr_accumulation_150_200 { stroke: none; fill: #b5d9ed; }
.rr_accumulation_200_250 { stroke: none; fill: #93c6e4; }
.rr_accumulation_250_300 { stroke: none; fill: #5da9d5; }
.rr_accumulation_300_350 { stroke: none; fill: #3b91c1; }
.rr_accumulation_350_400 { stroke: none; fill: #2376a3; }
.rr_accumulation_400_450 { stroke: none; fill: #0e5d87; }
.rr_accumulation_450_500 { stroke: none; fill: #0e5d87; }
.rr_accumulation_500_550 { stroke: none; fill: #cef532; }
.rr_accumulation_550_600 { stroke: none; fill: #edf73b; }
.rr_accumulation_600_650 { stroke: none; fill: #eee10f; }
.rr_accumulation_650_700 { stroke: none; fill: #ebcb0d; }
.rr_accumulation_700_750 { stroke: none; fill: #e8b30a; }
.rr_accumulation_750_800 { stroke: none; fill: #e59b07; }
.rr_accumulation_800_850 { stroke: none; fill: #e18103; }
.rr_accumulation_850_900 { stroke: none; fill: #de6a01; }
.rr_accumulation_900_950 { stroke: none; fill: #d45802; }
.rr_accumulation_950_1000 { stroke: none; fill: #cb4002; }
.rr_accumulation_1000_1050 { stroke: none; fill: #6b0b01; }
.rr_accumulation_1050_1100 { stroke: none; fill: #83231a; }
.rr_accumulation_1100_1150 { stroke: none; fill: #9b3b32; }
.rr_accumulation_1150_1200 { stroke: none; fill: #b3534a; }
.rr_accumulation_1200_1250 { stroke: none; fill: #c5645c; }
.rr_accumulation_1250_1300 { stroke: none; fill: #da7971; }
.rr_accumulation_1300_1350 { stroke: none; fill: #ec8b82; }
.rr_accumulation_1350_1400 { stroke: none; fill: #faa09a; }
.rr_accumulation_1400_1450 { stroke: none; fill: #fdb9b4; }
.rr_accumulation_1450_1500 { stroke: none; fill: #fcd2cf; }
.rr_accumulation_1500_1600 { stroke: none; fill: #36023d; }
.rr_accumulation_1600_1700 { stroke: none; fill: #460345; }
.rr_accumulation_1700_1800 { stroke: none; fill: #5e0351; }
.rr_accumulation_1800_1900 { stroke: none; fill: #761965; }
.rr_accumulation_1900_2000 { stroke: none; fill: #852f76; }
.rr_accumulation_2000_2100 { stroke: none; fill: #974889; }
.rr_accumulation_2100_2200 { stroke: none; fill: #af6aa3; }
.rr_accumulation_2200_2300 { stroke: none; fill: #c283b6; }
.rr_accumulation_2300_2400 { stroke: none; fill: #d39bc9; }
.rr_accumulation_2400_2500 { stroke: none; fill: #f0bae7; }
.rr_accumulation_2500_2750 { stroke: none; fill: #2b0355; }
.rr_accumulation_2750_3000 { stroke: none; fill: #3e1766; }
.rr_accumulation_3000_3500 { stroke: none; fill: #502b77; }
.rr_accumulation_3250_3500 { stroke: none; fill: #65418c; }
.rr_accumulation_3500_3750 { stroke: none; fill: #7a579c; }
.rr_accumulation_3750_4000 { stroke: none; fill: #9676b6; }
.rr_accumulation_4000_4250 { stroke: none; fill: #b294cf; }
.rr_accumulation_4250_4500 { stroke: none; fill: #c9aadc; }
.rr_accumulation_4500_4750 { stroke: none; fill: #be8dd6; }
.rr_accumulation_4750_5000 { stroke: none; fill: #d776e8; }
.rr_accumulation_5000_5500 { stroke: none; fill: #f516f7; }
.rr_accumulation_5500_6000 { stroke: none; fill: #f10d97; }
.rr_accumulation_6000_6500 { stroke: none; fill: #e00963; }
.rr_accumulation_6500_7000 { stroke: none; fill: #d00d0c; }
.rr_accumulation_7000_7500 { stroke: none; fill: #e40617; }
.rr_accumulation_7500_8000 { stroke: none; fill: #f90807; }
.rr_accumulation_8000_8500 { stroke: none; fill: #db0c0e; }
.rr_accumulation_8500_9000 { stroke: none; fill: #c1080a; }
.rr_accumulation_9000_9500 { stroke: none; fill: #a6070a; }
.rr_accumulation_9500_10000 { stroke: none; fill: #8d070a; }
.rr_accumulation_10000_11000 { stroke: none; fill: #0309fb; }
.rr_accumulation_11000_12000 { stroke: none; fill: #4347fa; }
.rr_accumulation_12000_13000 { stroke: none; fill: #676bfa; }
.rr_accumulation_13000_14000 { stroke: none; fill: #9799fa; }
.rr_accumulation_14000_15000 { stroke: none; fill: #b5b7f9; }
.rr_accumulation_15000_16000 { stroke: none; fill: #cacbf9; }
.rr_accumulation_16000_17000 { stroke: none; fill: #dedff9; }
.rr_accumulation_17000_18000 { stroke: none; fill: #f9f9fa; }
.rr_accumulation_18000_19000 { stroke: none; fill: #dbdbdb; }
.rr_accumulation_19000_20000 { stroke: none; fill: #bdbdbe; }
.rr_accumulation_20000_inf { stroke: none; fill: #bdbdbe; } 
