.rr_accumulation_20000_inf { stroke: none; fill: rgb(254,254,254); }
.rr_accumulation_19000_20000 { stroke: none; fill: rgb(254,254,254); }
.rr_accumulation_18000_19000 { stroke: none; fill: rgb(248,248,248); }
.rr_accumulation_17000_18000 { stroke: none; fill: rgb(242,242,242); }
.rr_accumulation_16000_17000 { stroke: none; fill: rgb(236,236,236); }
.rr_accumulation_15000_16000 { stroke: none; fill: rgb(230,230,230); }
.rr_accumulation_14000_15000 { stroke: none; fill: rgb(224,224,224); }
.rr_accumulation_13000_14000 { stroke: none; fill: rgb(218,218,218); }
.rr_accumulation_12000_13000 { stroke: none; fill: rgb(212,212,212); }
.rr_accumulation_11000_12000 { stroke: none; fill: rgb(206,206,206); }
.rr_accumulation_10000_11000 { stroke: none; fill: rgb(200,200,200); }
.rr_accumulation_9500_10000 { stroke: none; fill: rgb(200,150,250); }
.rr_accumulation_9000_9500 { stroke: none; fill: rgb(194,144,244); }
.rr_accumulation_8500_9000 { stroke: none; fill: rgb(188,138,238); }
.rr_accumulation_8000_8500 { stroke: none; fill: rgb(183,133,233); }
.rr_accumulation_7500_8000 { stroke: none; fill: rgb(177,127,227); }
.rr_accumulation_7000_7500 { stroke: none; fill: rgb(172,122,222); }
.rr_accumulation_6500_7000 { stroke: none; fill: rgb(166,116,216); }
.rr_accumulation_6000_6500 { stroke: none; fill: rgb(161,111,211); }
.rr_accumulation_5500_6000 { stroke: none; fill: rgb(155,105,205); }
.rr_accumulation_5000_5500 { stroke: none; fill: rgb(150,100,200); }
.rr_accumulation_4750_5000 { stroke: none; fill: rgb(250,150,250); }
.rr_accumulation_4500_4750 { stroke: none; fill: rgb(238,144,238); }
.rr_accumulation_4250_4500 { stroke: none; fill: rgb(227,138,227); }
.rr_accumulation_4000_4250 { stroke: none; fill: rgb(216,133,216); }
.rr_accumulation_3750_4000 { stroke: none; fill: rgb(205,127,205); }
.rr_accumulation_3500_3750 { stroke: none; fill: rgb(194,122,194); }
.rr_accumulation_3250_3500 { stroke: none; fill: rgb(183,116,183); }
.rr_accumulation_3000_3250 { stroke: none; fill: rgb(172,111,172); }
.rr_accumulation_2750_3000 { stroke: none; fill: rgb(161,105,161); }
.rr_accumulation_2500_2750 { stroke: none; fill: rgb(150,100,150); }
.rr_accumulation_2400_2500 { stroke: none; fill: rgb(250,150,150); }
.rr_accumulation_2300_2400 { stroke: none; fill: rgb(238,144,144); }
.rr_accumulation_2200_2300 { stroke: none; fill: rgb(227,138,138); }
.rr_accumulation_2100_2200 { stroke: none; fill: rgb(216,133,133); }
.rr_accumulation_2000_2100 { stroke: none; fill: rgb(205,127,127); }
.rr_accumulation_1900_2000 { stroke: none; fill: rgb(194,122,122); }
.rr_accumulation_1800_1900 { stroke: none; fill: rgb(183,116,116); }
.rr_accumulation_1700_1800 { stroke: none; fill: rgb(172,111,111); }
.rr_accumulation_1600_1700 { stroke: none; fill: rgb(161,105,105); }
.rr_accumulation_1500_1600 { stroke: none; fill: rgb(150,100,100); }
.rr_accumulation_1450_1500 { stroke: none; fill: rgb(250,200,100); }
.rr_accumulation_1400_1450 { stroke: none; fill: rgb(238,188,94); }
.rr_accumulation_1350_1400 { stroke: none; fill: rgb(227,177,88); }
.rr_accumulation_1300_1350 { stroke: none; fill: rgb(216,166,83); }
.rr_accumulation_1250_1300 { stroke: none; fill: rgb(205,155,77); }
.rr_accumulation_1200_1250 { stroke: none; fill: rgb(194,144,72); }
.rr_accumulation_1150_1200 { stroke: none; fill: rgb(183,133,66); }
.rr_accumulation_1100_1150 { stroke: none; fill: rgb(172,122,61); }
.rr_accumulation_1050_1100 { stroke: none; fill: rgb(161,111,55); }
.rr_accumulation_1000_1050 { stroke: none; fill: rgb(150,100,50); }
.rr_accumulation_950_1000 { stroke: none; fill: rgb(250,250,150); }
.rr_accumulation_900_950 { stroke: none; fill: rgb(238,238,144); }
.rr_accumulation_850_900 { stroke: none; fill: rgb(227,227,138); }
.rr_accumulation_800_850 { stroke: none; fill: rgb(216,216,133); }
.rr_accumulation_750_800 { stroke: none; fill: rgb(205,205,127); }
.rr_accumulation_700_750 { stroke: none; fill: rgb(194,194,122); }
.rr_accumulation_650_700 { stroke: none; fill: rgb(183,183,116); }
.rr_accumulation_600_650 { stroke: none; fill: rgb(172,172,111); }
.rr_accumulation_550_600 { stroke: none; fill: rgb(161,161,105); }
.rr_accumulation_500_550 { stroke: none; fill: rgb(150,150,100); }
.rr_accumulation_450_500 { stroke: none; fill: rgb(120,200,120); }
.rr_accumulation_400_450 { stroke: none; fill: rgb(111,192,111); }
.rr_accumulation_350_400 { stroke: none; fill: rgb(102,185,102); }
.rr_accumulation_300_350 { stroke: none; fill: rgb(94,178,94); }
.rr_accumulation_250_300 { stroke: none; fill: rgb(85,171,85); }
.rr_accumulation_200_250 { stroke: none; fill: rgb(77,164,77); }
.rr_accumulation_150_200 { stroke: none; fill: rgb(68,157,68); }
.rr_accumulation_100_150 { stroke: none; fill: rgb(60,150,60); }
.rr_accumulation_90_100 { stroke: none; fill: rgb(100,200,200); }
.rr_accumulation_80_90 { stroke: none; fill: rgb(87,180,180); }
.rr_accumulation_70_80 { stroke: none; fill: rgb(75,160,160); }
.rr_accumulation_60_70 { stroke: none; fill: rgb(62,140,140); }
.rr_accumulation_50_60 { stroke: none; fill: rgb(50,120,120); }
.rr_accumulation_40_50 { stroke: none; fill: rgb(120,120,200); }
.rr_accumulation_30_40 { stroke: none; fill: rgb(100,100,183); }
.rr_accumulation_20_30 { stroke: none; fill: rgb(80,80,166); }
.rr_accumulation_10_20 { stroke: none; fill: rgb(60,60,150); }