.echotop_3_4      { stroke:none; fill: #6de330 }
.echotop_4_5      { stroke:none; fill: #eaf442 }
.echotop_5_6      { stroke:none; fill: #ffe100 }
.echotop_6_7      { stroke:none; fill: #ffc001 }
.echotop_7_8      { stroke:none; fill: #ff9c01 }
.echotop_8_9      { stroke:none; fill: #ff7901 }
.echotop_9_10     { stroke:none; fill: #ff5501 }
.echotop_10_inf     { stroke:none; fill: #ff0909 }
