.Wind_3_5	{ stroke: none; fill: rgb(0,229,255) } /* kohtalainen 1 (sinisävy) */
.Wind_5_7 	{ stroke: none; fill: rgb(0,195,255) } /* kohtalainen 2 (sinisävy) */
.Wind_7_10 	{ stroke: none; fill: rgb(0,110,255) } /* navakka 1 (tummasinisävy) */
.Wind_10_14 	{ stroke: none; fill: rgb(0,26,255)  } /* navakka 2 (sinivioletti) */
.Wind_14_17 	{ stroke: none; fill: rgb(212,0,255) } /* kova 1 (violetti) */
.Wind_17_21 	{ stroke: none; fill: rgb(179,0,149) } /* kova 2 */
.Wind_21_26 	{ stroke: none; fill: rgb(255,0,0)   } /* myrsky 1 */
.Wind_26_32 	{ stroke: none; fill: rgb(255,85,0)  } /* myrsky 1 */
.Wind_32_inf 	{ stroke: none; fill: rgb(255,170,0) } /* hirmumyrsky */
/* Old Ely settings
.Wind_2_3	{ stroke: none; fill: rgb(255,245,110) }
.Wind_3_4	{ stroke: none; fill: rgb(220,220,10) }
.Wind_4_5	{ stroke: none; fill: rgb(185,210,30) }
.Wind_5_6	{ stroke: none; fill: rgb(105,205,40) }
.Wind_6_7	{ stroke: none; fill: rgb(50,165,25) }
.Wind_7_8	{ stroke: none; fill: rgb(30,120,80) }
.Wind_8_10	{ stroke: none; fill: rgb(25,205,205) }
.Wind_10_12	{ stroke: none; fill: rgb(0,160,160) }
.Wind_12_14	{ stroke: none; fill: rgb(0,120,120) }
.Wind_14_16	{ stroke: none; fill: rgb(100,155,255) }
.Wind_16_18	{ stroke: none; fill: rgb(30,90,190) }
.Wind_18_20	{ stroke: none; fill: rgb(30,15,200) }
.Wind_20_23	{ stroke: none; fill: rgb(230,90,230) }
.Wind_23_26	{ stroke: none; fill: rgb(175,45,175) }
.Wind_26_29	{ stroke: none; fill: rgb(120,25,120) }
.Wind_29_32	{ stroke: none; fill: rgb(195,0,0) }
.Wind_32_inf	{ stroke: none; fill: rgb(255,0,0) }
*/
