.SeaDirection_00_01 { storke:none; fill: rgb(255,255,255) }
.SeaDirection_01_02 { stroke:none; fill: rgb(235,255,122) }
.SeaDirection_02_05 { stroke:none; fill: rgb(138,237,187) }
.SeaDirection_05_07 { stroke:none; fill: rgb(5,179,138) }
.SeaDirection_07_10 { stroke:none; fill: rgb(101,189,247) }
.SeaDirection_10_12 { stroke:none; fill: rgb(64,169,255) }
.SeaDirection_12_15 { stroke:none; fill: rgb(17,141,250) }
.SeaDirection_15_17 { stroke:none; fill: rgb(24,122,219) }
.SeaDirection_17_20 { stroke:none; fill: rgb(255,83,36) }
.SeaDirection_20_25 { stroke:none; fill: rgb(219,10,7) }
.SeaDirection_25_30 { stroke:none; fill: rgb(189,4,4) }
.SeaDirection_30_35 { stroke:none; fill: rgb(156,2,20) }
.SeaDirection_35_40 { stroke:none; fill: rgb(196,24,98) }