.Snowdepth_0_1 { stroke:none; fill: rgb(226,229,229) }
.Snowdepth_1_10 { stroke:none; fill: rgb(145,204,249) }
.Snowdepth_10_25 { stroke:none; fill: rgb(11,133,209) }
.Snowdepth_25_50 { stroke:none; fill: rgb(0,94,165) }
.Snowdepth_50_75 { stroke:none; fill: rgb(142,127,175) }
.Snowdepth_75_100 { stroke:none; fill: rgb(91,76,140) }
.Snowdepth_100_125 { stroke:none; fill: rgb(84,23,107) }
.Snowdepth_125_inf { stroke:none; fill: rgb(0,40,86) }
