.swe_inf_1  { stroke:none; fill: rgb(255,255,255) }
.swe_1_10   { stroke:none; fill: rgb(207, 207, 250) }
.swe_10_25  { stroke:none; fill: rgb(184, 169, 206) }
.swe_25_50  { stroke:none; fill: rgb(162, 141, 194) }
.swe_50_75  { stroke:none; fill: rgb(137, 117, 184) }
.swe_75_100 { stroke:none; fill: rgb(101, 85, 139) }
.swe_100_125    { stroke:none; fill:  rgb(63, 43, 90) }
.swe_125_inf    { stroke:none; fill: rgb(21, 1, 50) }