.Soilwetness_0_5        { stroke:none; fill: rgb(70, 20, 0) }
.Soilwetness_5_10       { stroke:none; fill: rgb(115, 52, 8) }
.Soilwetness_10_15      { stroke:none; fill: rgb(148, 82, 28) }
.Soilwetness_15_20      { stroke:none; fill: rgb(172, 112, 50) }
.Soilwetness_20_25      { stroke:none; fill: rgb(195, 142, 78) }
.Soilwetness_25_30      { stroke:none; fill: rgb(215, 172, 110) }
.Soilwetness_30_35      { stroke:none; fill: rgb(232, 202, 148) }
.Soilwetness_35_40      { stroke:none; fill: rgb(242, 222, 182) }
.Soilwetness_40_45      { stroke:none; fill: rgb(250, 242, 222) }
.Soilwetness_45_46      { stroke:none; fill: rgb(240, 240, 0) }
.Soilwetness_46_47      { stroke:none; fill: rgb(210, 235, 10) }
.Soilwetness_47_48      { stroke:none; fill: rgb(175, 225, 15) }
.Soilwetness_48_49      { stroke:none; fill: rgb(135, 215, 18) }
.Soilwetness_49_50      { stroke:none; fill: rgb(95, 205, 18) }
.Soilwetness_50_51      { stroke:none; fill: rgb(55, 192, 18) }
.Soilwetness_51_52      { stroke:none; fill: rgb(25, 175, 18) }
.Soilwetness_52_53      { stroke:none; fill: rgb(15, 155, 18) }
.Soilwetness_53_54      { stroke:none; fill: rgb(8, 128, 15) }
.Soilwetness_54_55      { stroke:none; fill: rgb(5, 100, 10) }
.Soilwetness_55_60      { stroke:none; fill: rgb(55, 95, 205) }
.Soilwetness_60_65      { stroke:none; fill: rgb(38, 72, 188) }
.Soilwetness_65_70      { stroke:none; fill: rgb(22, 52, 168) }
.Soilwetness_70_75      { stroke:none; fill: rgb(10, 34, 148) }
.Soilwetness_75_80      { stroke:none; fill: rgb(4, 18, 128) }
.Soilwetness_80_85      { stroke:none; fill: rgb(2, 6, 108) }
.Soilwetness_85_90      { stroke:none; fill: rgb(105, 0, 138) }
.Soilwetness_90_95      { stroke:none; fill: rgb(168, 0, 130) }
.Soilwetness_95_100     { stroke:none; fill: rgb(248, 0, 128) }