.SWI_0_5        { stroke:none; fill: rgb(90, 35, 0) }
.SWI_5_10       { stroke:none; fill: rgb(130, 67, 11) }
.SWI_10_15      { stroke:none; fill: rgb(155, 95, 35) }
.SWI_15_20      { stroke:none; fill: rgb(178, 122, 58) }
.SWI_20_25      { stroke:none; fill: rgb(199, 152, 85)  }
.SWI_25_30      { stroke:none; fill: rgb(218, 180, 118) }
.SWI_30_35      { stroke:none; fill: rgb(238, 215, 178) }
.SWI_35_40      { stroke:none; fill: rgb(230, 200, 150)}
.SWI_40_45      { stroke:none; fill: rgb(247, 239, 228) }
.SWI_45_50      { stroke:none; fill: rgb(118, 163, 214) }
.SWI_50_55      { stroke:none; fill: rgb(72, 133, 200) }
.SWI_55_60      { stroke:none; fill: rgb(48, 110, 185) }
.SWI_60_65      { stroke:none; fill: rgb(30, 84, 168) }
.SWI_65_70      { stroke:none; fill: rgb(16, 60, 152) }
.SWI_70_75      { stroke:none; fill: rgb(5, 38, 138)  }
.SWI_75_80      { stroke:none; fill: rgb(0, 18, 125) }
.SWI_80_85      { stroke:none; fill: rgb(0, 5, 108) }
.SWI_85_90      { stroke:none; fill: rgb(120, 0, 140) }
.SWI_90_95      { stroke:none; fill: rgb(175, 0, 130) }
.SWI_95_100     { stroke:none; fill: rgb(250, 0, 130) }