.Soilwetness_0_5        { stroke:none; fill: rgb(90, 35, 0) }
.Soilwetness_5_10       { stroke:none; fill: rgb(130, 67, 11) }
.Soilwetness_10_15      { stroke:none; fill: rgb(155, 95, 35) }
.Soilwetness_15_20      { stroke:none; fill: rgb(178, 122, 58) }
.Soilwetness_20_25      { stroke:none; fill: rgb(199, 152, 85)  }
.Soilwetness_25_30      { stroke:none; fill: rgb(218, 180, 118) }
.Soilwetness_30_35      { stroke:none; fill: rgb(238, 215, 178) }
.Soilwetness_35_40      { stroke:none; fill: rgb(230, 200, 150)}
.Soilwetness_40_45      { stroke:none; fill: rgb(247, 239, 228) }
.Soilwetness_45_50      { stroke:none; fill: rgb(118, 163, 214) }
.Soilwetness_50_55      { stroke:none; fill: rgb(72, 133, 200) }
.Soilwetness_55_60      { stroke:none; fill: rgb(48, 110, 185) }
.Soilwetness_60_65      { stroke:none; fill: rgb(30, 84, 168) }
.Soilwetness_65_70      { stroke:none; fill: rgb(16, 60, 152) }
.Soilwetness_70_75      { stroke:none; fill: rgb(5, 38, 138)  }
.Soilwetness_75_80      { stroke:none; fill: rgb(0, 18, 125) }
.Soilwetness_80_85      { stroke:none; fill: rgb(0, 5, 108) }
.Soilwetness_85_90      { stroke:none; fill: rgb(120, 0, 140) }
.Soilwetness_90_95      { stroke:none; fill: rgb(175, 0, 130) }
.Soilwetness_95_100     { stroke:none; fill: rgb(250, 0, 130) }