.SWI_90_100     { stroke:none; fill: rgb(0,0,150) }
.SWI_80_90      { stroke:none; fill: rgb(24,49,214) }
.SWI_70_80      { stroke:none; fill: rgb(56,104,235) }
.SWI_60_70      { stroke:none; fill: rgb(17,141,250) }
.SWI_50_60      { stroke:none; fill: rgb(212,255,255) }
.SWI_40_50      { stroke:none; fill: rgb(255,255,167) }
.SWI_30_40      { stroke:none; fill: rgb(200,190,16) }
.SWI_20_30      { stroke:none; fill: rgb(190,152,13) }
.SWI_10_20      { stroke:none; fill: rgb(143,114,9) }
.SWI_0_10       { stroke:none; fill: rgb(130,76,6) }
