.TWI_INF_15     { stroke:none; fill: rgb(164,40,235) }
.TWI_15_14      { stroke:none; fill: rgb(0,0,100) }
.TWI_14_13      { stroke:none; fill: rgb(0,0,120) }
.TWI_13_12      { stroke:none; fill: rgb(0,0,150) }
.TWI_12_11      { stroke:none; fill: rgb(0,30,180) }
.TWI_11_10      { stroke:none; fill: rgb(0,60,200) }
.TWI_10_9       { stroke:none; fill: rgb(0,90,220) }
.TWI_9_8        { stroke:none; fill: rgb(30,120,235) }
.TWI_8_7        { stroke:none; fill: rgb(70,150,240) }
.TWI_7_6        { stroke:none; fill: rgb(110,175,245) }
.TWI_6_5        { stroke:none; fill: rgb(150,200,248) }
.TWI_5_4        { stroke:none; fill: rgb(185,220,250) }
.TWI_4_3        { stroke:none; fill: rgb(210,232,252) }
.TWI_3_2        { stroke:none; fill: rgb(228,241,254) }
.TWI_2_1        { stroke:none; fill: rgb(242,249,255) }
.TWI_1_0        { stroke:none; fill: rgb(255,255,255) }
.TWI_0_N1       { stroke:none; fill: rgb(255,255,200) }
.TWI_N1_N2      { stroke:none; fill: rgb(255,245,150) }
.TWI_N2_N3      { stroke:none; fill: rgb(255,230,100) }
.TWI_N3_N4      { stroke:none; fill: rgb(255,210,50) }
.TWI_N4_N5      { stroke:none; fill: rgb(255,185,0) }
.TWI_N5_N6      { stroke:none; fill: rgb(255,155,0) }
.TWI_N6_N7      { stroke:none; fill: rgb(245,120,0) }
.TWI_N7_N8      { stroke:none; fill: rgb(235,85,0) }
.TWI_N8_N9      { stroke:none; fill: rgb(220,50,0) }
.TWI_N9_N10     { stroke:none; fill: rgb(200,20,0) }
.TWI_N10_N11    { stroke:none; fill: rgb(180,5,0) }
.TWI_N11_N12    { stroke:none; fill: rgb(160,0,0) }
.TWI_N12_N13    { stroke:none; fill: rgb(140,0,0) }
.TWI_N13_N14    { stroke:none; fill: rgb(120,0,0) }
.TWI_N14_N15    { stroke:none; fill: rgb(100,0,0) }
.TWI_N15_INF    { stroke:none; fill: rgb(244, 5, 168) }