.Vegetationlai_001_05       { stroke:none; fill: rgb(169,169,169) }
.Vegetationlai_05_1       { stroke:none; fill: rgb(184,134,11) }
.Vegetationlai_1_2       { stroke:none; fill: rgb(245,180,0) }
.Vegetationlai_2_3       { stroke:none; fill: rgb(144,238,144) }
.Vegetationlai_3_4       { stroke:none; fill: rgb(50,205,50) }
.Vegetationlai_4_7     { stroke:none; fill: rgb(0,128,0) }


