.Volsoilwaterlayer_04_inf 	{ stroke:none; fill: rgb(143,188,143) }
.Volsoilwaterlayer_035_04 	{ stroke:none; fill: rgb(0,100,0) }
.Volsoilwaterlayer_03_035	{ stroke:none; fill: rgb(34,139,34) }
.Volsoilwaterlayer_025_03 	{ stroke:none; fill: rgb(50,205,50) }
.Volsoilwaterlayer_02_025 	{ stroke:none; fill: rgb(0,250,127) }
.Volsoilwaterlayer_015_02 	{ stroke:none; fill: rgb(152,251,152) }
.Volsoilwaterlayer_01_015 	{ stroke:none; fill: rgb(212,255,255) }
.Volsoilwaterlayer_inf_01 	{ stroke:none; fill: rgb(255,255,255) }

