.Windgust_5_8   { stroke:none; fill: rgb(0, 237, 1) }
.Windgust_8_11  { stroke:none; fill: rgb(135, 250, 0) }
.Windgust_11_14 { stroke:none; fill: rgb(206, 251, 2) }
.Windgust_14_17 { stroke:none; fill: rgb(255, 251, 2) }
.Windgust_17_20 { stroke:none; fill: rgb(255,154,0) }
.Windgust_20_23 { stroke:none; fill: rgb(255,116,0) }
.Windgust_23_26 { stroke:none; fill: rgb(255,77,0) }
.Windgust_26_28 { stroke:none; fill: rgb(255,0,0) }
.Windgust_28_35 { stroke:none; fill: rgb(241, 14, 165) }
.Windgust_35_40 { stroke:none; fill: rgb(191, 0, 255) }
.Windgust_40_45 { stroke:none; fill: rgb(138, 0, 255) }
.Windgust_45_50 { stroke:none; fill: rgb(102,0,148) }
.Windgust_50_inf { stroke:none; fill: rgb(0,0,0) }