.Snowthickness_0_1        { stroke:none; fill: rgb(212,255,255) }
.Snowthickness_1_2        { stroke:none; fill: rgb(200,241,251) }
.Snowthickness_2_3        { stroke:none; fill: rgb(189,228,247) }
.Snowthickness_3_4        { stroke:none; fill: rgb(178,214,243) }
.Snowthickness_4_5        { stroke:none; fill: rgb(167,201,239) }
.Snowthickness_5_6        { stroke:none; fill: rgb(156,187,235) }
.Snowthickness_6_7        { stroke:none; fill: rgb(145,174,231) }
.Snowthickness_7_8        { stroke:none; fill: rgb(133,161,227) }
.Snowthickness_8_9        { stroke:none; fill: rgb(122,147,223) }
.Snowthickness_9_10       { stroke:none; fill: rgb(111,134,219) }
.Snowthickness_10_11      { stroke:none; fill: rgb(100,120,215) }
.Snowthickness_11_12      { stroke:none; fill: rgb(89,107,211) }
.Snowthickness_12_13      { stroke:none; fill: rgb(78,93,207) }
.Snowthickness_13_14      { stroke:none; fill: rgb(67,80,203) }
.Snowthickness_14_15      { stroke:none; fill: rgb(55,67,199) }
.Snowthickness_15_16      { stroke:none; fill: rgb(44,53,196) }
.Snowthickness_16_17      { stroke:none; fill: rgb(33,40,192) }
.Snowthickness_17_18      { stroke:none; fill: rgb(22,26,188) }
.Snowthickness_18_19      { stroke:none; fill: rgb(11,13,184) }
.Snowthickness_19_20      { stroke:none; fill: rgb(0,0,180) }
.Snowthickness_20         { stroke:none; fill: rgb(0,0,180) }

