.Soilwetness_0_5        { stroke:none; fill: rgb(212,255,255) }
.Soilwetness_5_10       { stroke:none; fill: rgb(200,241,251) }
.Soilwetness_10_15      { stroke:none; fill: rgb(189,228,247) }
.Soilwetness_15_20      { stroke:none; fill: rgb(178,214,243) }
.Soilwetness_20_25      { stroke:none; fill: rgb(167,201,239) }
.Soilwetness_25_30      { stroke:none; fill: rgb(156,187,235) }
.Soilwetness_30_35      { stroke:none; fill: rgb(145,174,231) }
.Soilwetness_35_40      { stroke:none; fill: rgb(133,161,227) }
.Soilwetness_40_45      { stroke:none; fill: rgb(122,147,223) }
.Soilwetness_45_50      { stroke:none; fill: rgb(111,134,219) }
.Soilwetness_50_55      { stroke:none; fill: rgb(100,120,215) }
.Soilwetness_55_60      { stroke:none; fill: rgb(89,107,211) }
.Soilwetness_60_65      { stroke:none; fill: rgb(78,93,207) }
.Soilwetness_65_70      { stroke:none; fill: rgb(67,80,203) }
.Soilwetness_70_75      { stroke:none; fill: rgb(55,67,199) }
.Soilwetness_75_80      { stroke:none; fill: rgb(44,53,196) }
.Soilwetness_80_85      { stroke:none; fill: rgb(33,40,192) }
.Soilwetness_85_90      { stroke:none; fill: rgb(22,26,188) }
.Soilwetness_90_95      { stroke:none; fill: rgb(11,13,184) }
.Soilwetness_95_100     { stroke:none; fill: rgb(0,0,180) }