.Soiltype_7 { stroke:none; fill: rgb(13,0,212) }
.Soiltype_6	{ stroke:none; fill: rgb(17,141,250) }
.Soiltype_5 { stroke:none; fill: rgb(0,230,230) }
.Soiltype_4 { stroke:none; fill: rgb(0,255,0) }
.Soiltype_3 { stroke:none; fill: rgb(235,255,122) }
.Soiltype_2 { stroke:none; fill: rgb(242,149,0) }
.Soiltype_1 { stroke:none; fill: rgb(255,0,0) }
.Soiltype_0 { stroke:none; fill: rgb(220,220,220)}