.SWI_0_5        { stroke:none; fill: rgb(130,76,6) }
.SWI_5_10       { stroke:none; fill: rgb(137,105,8) }
.SWI_10_15      { stroke:none; fill: rgb(143,114,9) }
.SWI_15_20      { stroke:none; fill: rgb(161,133,11) }
.SWI_20_25      { stroke:none; fill: rgb(190,152,13) }
.SWI_25_30      { stroke:none; fill: rgb(195,171,15) }
.SWI_30_35      { stroke:none; fill: rgb(200,190,16) }
.SWI_35_40      { stroke:none; fill: rgb(228,223,91) }
.SWI_40_45      { stroke:none; fill: rgb(255,255,167) }
.SWI_45_50      { stroke:none; fill: rgb(234,255,201) }
.SWI_50_55      { stroke:none; fill: rgb(212,255,255) }
.SWI_55_60      { stroke:none; fill: rgb(109,197,253) }
.SWI_60_65      { stroke:none; fill: rgb(17,141,250) }
.SWI_65_70      { stroke:none; fill: rgb(36,122,225) }
.SWI_70_75      { stroke:none; fill: rgb(56,104,235) }
.SWI_75_80      { stroke:none; fill: rgb(40,82,235) }
.SWI_80_85      { stroke:none; fill: rgb(24,49,214) }
.SWI_85_90      { stroke:none; fill: rgb(18,37,214) }
.SWI_90_95      { stroke:none; fill: rgb(12,24,182) }
.SWI_95_100     { stroke:none; fill: rgb(0,0,150) }