.Wind_32_inf     { stroke:none; fill: rgb(156,2,20) }
.Wind_26_32      { stroke:none; fill: rgb(219,10,7) }
.Wind_21_26      { stroke:none; fill: rgb(247,23,7) }
.Wind_17_21      { stroke:none; fill: rgb(255,83,36) }
.Wind_14_17      { stroke:none; fill: rgb(240,116,0) }
.Wind_10_14      { stroke:none; fill: rgb(242,149,0) }
.Wind_7_10       { stroke:none; fill: rgb(245,180,0) }
.Wind_5_7        { stroke:none; fill: rgb(247,212,35) }
.Wind_3_5        { stroke:none; fill: rgb(255,234,128) }
.Wind_0_3        { stroke:none; fill: rgb(235,255,122) }
.Wind_3_0        { stroke:none; fill: rgb(2,212,149) }
.Wind_5_3        { stroke:none; fill: rgb(17,141,250) }
.Wind_7_5        { stroke:none; fill: rgb(24,122,219) }
.Wind_10_7       { stroke:none; fill: rgb(6,98,196) }
.Wind_14_10      { stroke:none; fill: rgb(0,80,171) }
.Wind_17_14      { stroke:none; fill: rgb(148,178,242) }
.Wind_21_17      { stroke:none; fill: rgb(111,154,247) }
.Wind_26_21      { stroke:none; fill: rgb(56,104,235) }
.Wind_32_26      { stroke:none; fill: rgb(24,49,214) }
.Wind_inf_32     { stroke:none; fill: rgb(4,18,179) }
