# This file is used for selecting a valid runtime environment for SmartMet.
# Just uncomment the environment that you want to use.

# Development environment
@include "%(DIR)/smartmet-dev-env.cfg"

# Test environment
#@include "%(DIR)/smartmet-test-env.cfg"
